bin/
obj/
\!obj/
objdebug/
debugrelease/
releasebin/
binsettings/
assets/
settings

core
networking

#  General Linux Files
*.make
Makefile
premake4

#  General Dev files
*.a
*.so
*.exe
*.suo
*.sdf
*.user
*.ipch
*.tlog
*.log
*.idb
*.pdb
*.lastbuildstate
*.obj
*.DS_Store
*.manifest
*.ilk
*.user
*.filters
*.pch
*.rc
*.res
*.opensdf
*.unsuccessfulbuild
*.vcxproj
*.suo
*.sln
*.cache
*.o
*.d
*.psess
*.vsp
*.fbx
*.FBX
*.sublime-workspace
*.files
*.includes